.App {
  	text-align: center;
}

#check {
	position: absolute;
	left:0%;
}

.mediaOptions  {
	position: relative;
	/* top: 70%; */
	bottom: 0%;
	left: 50%;
	align-items: center;
}

.userInfo
{
	position: absolute;
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
	height: 25%;
	width: 100%;
	bottom: 0%;
	display: flex;
	justify-content: space-between;
}

.mediaBox
{
	position: relative;
	width: 23%;
	align-items: center;
	display: flex;
	justify-content: space-between;
}	

.userName
{
	position: relative;
	color: white;
	left: 5%;
	bottom: 5%;
}

.user
{
	align-items: center;
	position: relative;
}

.audioStatus	
{
	position: relative;

}

.videoStatus
{
	position: relative;
	right: 5%;
}

#video-grid {
	margin:4px, 4px;
	padding:4px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right:0%;
	display: grid;
	grid-template-rows: repeat(auto-fill, 160px);
	grid-auto-columns: 300px;
	grid-row-gap: 5px;
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.vcinfo
{
	position: absolute;
	top: 65%;
	left: 41%;
}

.vc-options {
	position: absolute;
	top: 50%;
	left: 46%;
	text-align: center;
}